{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ market.name }}</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Company name</th>
                <th scope="col">Stock Type</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            {% for company in market.companies %}
                {% for stock in company.stocks %}
                <tr>    
                    <td>{{ company }}</td>
                    <td>
                        {{ stock }}
                    </td>
                    <td>
                        {% if stock.type == constant('AppBundle\\Entity\\Stock::PREFERRED') %}
                            <span class="badge badge-pill badge-primary">{{ stock.price }}</span>
                        {% else %}
                            <span class="badge badge-pill badge-warning">{{ stock.price }}</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-info btn-md" href="{{ path('market_index') }}">Back to the list</a>
{% endblock %}
